---
import '../../generated/fonts.css';
import '../site-components/global.css';
import '../styles/global.css';
import '../styles/10-sell.css';

const { pageClass = '' } = Astro.props;
---

<html lang="en" class={pageClass}>
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="https://i.imgur.com/wizwzbW.png" />
<!-- Force desktop version on mobile - zoom optimal pour remplir l'écran -->
<meta name="viewport" content="width=1200, initial-scale=0.32, minimum-scale=0.1, maximum-scale=2.0, user-scalable=yes" />
<meta name="generator" content={Astro.generator} />
<title>10sell.net</title>
</head>
<!-- Dark mode class injection point - will be replaced with `dark` class based on your site palette -->
<body class="__DARK_MODE_CLASS__">
<slot />
</body>
</html>

<style is:global>
/* Page-specific overrides */
html.10-sell-page body {
font-family: 'Roboto', Arial, sans-serif;
background-color: #ffffff;
color: #202124;
line-height: 1.6;
min-width: 1200px;
}
</style>
